<div class="pagetitle">
  <h1>Ajout un Administrateur</h1>
</div>
<form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
  <div class="row mb-4">
    <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
      <input type="text" class="form-control" placeholder="Prénom(s)" formControlName="prenom">
      <div  class="text-danger" *ngIf="prenom && prenom.touched && prenom.errors?.['required']">Le prénom est obligatoire</div>
    </div>

    <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
      <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
      <div  class="text-danger" *ngIf="nom && nom.touched && nom.errors?.['required']">Le nom est obligatoire</div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
      <input type="text" class="form-control" placeholder="Metre votre login" formControlName="login">
      <div  class="text-danger" *ngIf="login && login.touched && login.errors?.['required']">Le login est obligatoire</div>
    </div>
    <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
      <input type="text" class="form-control" placeholder="Téléphone" formControlName="telephone" [pattern]="telephonePattern">
      <div  class="text-danger" *ngIf="telephone && telephone.touched && telephone.errors">Format de téléphone incorrect</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
      <input type="text" class="form-control" placeholder="Adresse" formControlName="adresse">
      <div  class="text-danger" *ngIf="adresse && adresse.touched && adresse.errors?.['required']">L'adresse est obligatoire</div>
    </div>
    <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
      <select id="inputState" class="form-control" formControlName="genre_id">
        <option *ngFor="let genre of genres" value="{{genre.id}}" [selected]="genre.id==1">{{genre.libelle}}</option>
      </select>
    </div>
  </div>
    <div class="text-center">
      <button type="submit" class="mt-4 btn btn-primary col-lg-3" [disabled]="addAdminForm.invalid">Enregistrer</button>
    </div>
</form>
